.navbar {
  &.navbar-admin {
    max-width: 10rem;
    min-width: 10rem;
    //width: 10rem;
    width: 100%;
    transition: 0.2s all;
    display: none;
    @media (min-width: 992px) {
      display: block;
    }
    &.active {
      //width: 25rem;
      max-width: 15em;
    }
    & > div {
      flex-direction: column;
      height: 100%;
      justify-content: flex-start !important;
      //width: auto;
      .hamburger {
        .hamburger-box {
          width: auto;
        }
      }

      .navbar-nav {
        width: 100%;
        flex: 1;
      }
      .btn {
        width: 100%;
      }
    }
  }
  &.navbar-admin-mobile {
    padding: 0.5rem;
    padding-bottom: 0;
    .header-name{
      flex: 1;
    }
  }
}
